{{ file_header }}

config wifi-device 'radio0'
	option type 'mac80211'
	option path 'platform/18000000.wmac'
	option channel 'auto'
	option band '2g'
	option htmode 'HT20'
	option country 'BE'
	{{ wireless_extra_opts['wifi_device']['radio0'][inventory_hostname_short] | indent(width=8 ) }}

config wifi-iface 'default_radio0'
	option device 'radio0'
	option network 'wifi'
	option mode 'ap'
	option ssid 'guest2'
        option encryption 'psk2+ccmp'
        option key '{{ key_guest2 }}'
	{{ wireless_extra_opts['wifi_iface']['guest2'][inventory_hostname_short] | indent(width=8 ) }}

config wifi-device 'radio1'
	option type 'mac80211'
	option path '1a143000.pcie/pci0000:00/0000:00:00.0/0000:01:00.0'
	option channel 'auto'
	option band '5g'
	option htmode 'HE80'
	option country 'BE'
	{{ wireless_extra_opts['wifi_device']['radio1'][inventory_hostname_short] | indent(width=8 ) }}

config wifi-iface 'default_radio1'
	option device 'radio1'
	option network 'wifi'
	option mode 'ap'
	option ssid 'guest5'
        option encryption 'psk2+ccmp'
        option key '{{ key_guest5 }}'
	{{ wireless_extra_opts['wifi_iface']['guest5'][inventory_hostname_short] | indent(width=8 ) }}
